Plugins>Cluster>Batch, "Trainable Segmentation 2D", edu.utexas.archipelago.plugin.Batch_Weka_Segmentation
Plugins>CLM, "Fix Photoshop Montage", edu.utexas.clm.fixmontage.Fix_Montage("")
Plugins>CLM, "TrakEM2 Folder Watcher", fsalign.FS_Align_TrakEM2
File>Import, "Read Reconstruct Project...", edu.utexas.clm.reconstructreader.reconstruct.Reconstruct_Reader
File>Export, "Write Reconstruct Project...", edu.utexas.clm.reconstructreader.trakem2.Reconstruct_Writer
